   <!-- Breadcrumb-->
   <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
  </ol>
  

  <div class="content container-fluid" style="position:relative; margin:10px; padding:0px; background-color:white;">
    <ul class="nav nav-tabs" id="myTab1" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Connect</a>
      </li>
    </ul>
    <div class="tab-content" id="myTab1Content">
      <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
        
      </div>
    </div>
  </div>
  <div class="container-fluid" style="position:relative; margin:10px; margin-bottom:0px; padding:0px; border-bottom: 2px solid black; background-color:white;">
          
          <!-- Breadcrumb-->
    
            <div class="btn-group" role="group" aria-label="Button group">
              <a id="btn_add_new_ui_element" class="btn" data-toggle="modal" data-target="#modal_add_new_ui_node"  href="#">
                <i class="icon-plus"></i> Add new UI element</a>
                <a id="btn_toggle_config" class="btn" href="#!">
                <i class="icon-settings"></i> Enable/Disable UI Config</a>
              </div>
    
            </div>
    
          <!-- Client UI -->
          <div id="client_ui" class="content container-fluid" style="position:relative; height:600px; margin:10px; margin-top:0px; padding:0px; background-color:white;">
          </div>
        
  
  
  <!-- Modals-->
  <div class="modal fade" id="modal_add_new_ui_node" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add New / Edit UI element</h4>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">  
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link tab_nav_ui_node active" data-type="label" data-toggle="tab" href="#tab_add_label" role="tab" aria-selected="true">
              <i class="fa fa-font"></i> Label</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab_nav_ui_node" data-type="button" data-toggle="tab" href="#tab_add_button" role="tab">
              <i class="fa fa-mouse-pointer"></i> Button</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab_nav_ui_node" data-type="input_text" data-toggle="tab" href="#tab_add_input_text" role="tab">
              <i class="fa fa-keayboard-o"></i> Input Text</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab_nav_ui_node" data-type="switch" data-toggle="tab" href="#tab_add_switch" role="tab">
              <i class="fa fa-check-square"></i> Switch</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab_nav_ui_node" data-type="checkbox" data-toggle="tab" href="#tab_add_checkbox" role="tab">
              <i class="fa fa-check-square"></i> Checkbox</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab_nav_ui_node" data-type="slider" data-toggle="tab" href="#tab_add_slider" role="tab">
              <i class="fa fa-arrows-h"></i> Slider</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab_nav_ui_node" data-type="colorpicker" data-toggle="tab" href="#tab_add_colorpicker" role="tab">
              <i class="fa fa-eyedropper"></i> Color picker</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab_nav_ui_node" data-type="gauge" data-toggle="tab" href="#tab_add_gauge" role="tab">
              <i class="icons cui-speedometer"></i> Gauge</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab_nav_ui_node" data-type="chart" data-toggle="tab" href="#tab_add_chart" role="tab">
              <i class="fa fa-line-chart"></i> Chart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab_nav_ui_node" data-type="html" data-toggle="tab" href="#tab_add_html" role="tab" aria-selected="true">
              <i class="fa fa-html5"></i> HTML</a>
            </li>
          </ul>
          <div class="tab-content" id="tab_panes_ui_node">
            <div class="tab-pane active" id="tab_add_label">
              <form class="form_add_ui_element">
                <input class="form-control" type="hidden" name="type" value="label"> 
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="text" placeholder="Text">
                  </div>
                </div>        
                <div class="form-group">
                    <label>Label Color</label>
                    <div class="input-group">
                      <input class="jscolor form_jscolor" type="text"  name="color" value="000000">
                    </div>
                  </div>    
                <div class="form-group form-actions">
                  <button class="btn btn-sm btn-secondary" type="submit">Submit</button>
                </div>
              </form> 
            </div>
            <div class="tab-pane" id="tab_add_html">
              <form class="form_add_ui_element">
                <input class="form-control" type="hidden" name="type" value="html"> 
                <div class="form-group">
                  <div class="input-group">
                   <textarea id="ckEditor_html5_add" name="html"></textarea>   
                  </div>
                </div>      
                <div class="form-group form-actions">
                  <button class="btn btn-sm btn-secondary" type="submit">Submit</button>
                </div>
              </form> 
            </div>
            <div class="tab-pane" id="tab_add_button">
              <form class="form_add_ui_element">
                <input class="form-control" type="hidden" name="type" value="button"> 
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="text" placeholder="Button Text">
                  </div>
                </div>     
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="path" placeholder="Message Path">
                  </div>
                </div>     
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="message" placeholder="Message">
                  </div>
                </div>      
                <div class="form-group form-actions">
                  <button class="btn btn-sm btn-secondary" type="submit">Submit</button>
                </div>
              </form> 
            </div>
            <div class="tab-pane" id="tab_add_input_text">
              <form class="form_add_ui_element">
                <input class="form-control" type="hidden" name="type" value="input_text"> 
                  
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="path" placeholder="Message Path">
                  </div>
                </div>     
                <div class="form-group form-actions">
                  <button class="btn btn-sm btn-secondary" type="submit">Submit</button>
                </div>
              </form> 
            </div>
            <div class="tab-pane" id="tab_add_switch">
              <form class="form_add_ui_element">
                <input class="form-control" type="hidden" name="type" value="switch"> 
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="path" placeholder="Message Path">
                  </div>
                </div>     
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="message_on" placeholder="Message On">
                  </div>
                </div>      
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="message_off" placeholder="Message Off">
                  </div>
                </div>      
                <div class="form-group form-actions">
                  <button class="btn btn-sm btn-secondary" type="submit">Submit</button>
                </div>
              </form>  
            </div>
            <div class="tab-pane" id="tab_add_checkbox">
              <form class="form_add_ui_element">
                <input class="form-control" type="hidden" name="type" value="checkbox"> 
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="path" placeholder="Message Path">
                  </div>
                </div>     
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="message_on" placeholder="Message On">
                  </div>
                </div>      
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="message_off" placeholder="Message Off">
                  </div>
                </div>   
                <div class="form-group">
                  <label>Color When Switch On</label>
                  <div class="input-group">
                    <input class="jscolor form_jscolor"  name="color" value="000000">
                  </div>  
                </div> 
                
                <div class="form-group form-actions">
                  <button class="btn btn-sm btn-secondary" type="submit">Submit</button>
                </div>
              </form>  
            </div>
            <div class="tab-pane" id="tab_add_slider">
              <form class="form_add_ui_element">
                <input class="form-control" type="hidden" name="type" value="slider"> 
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="path" placeholder="Message Path">
                  </div>
                </div>     
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="number" name="value_min" value="0">
                  </div>
                </div>      
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="number" name="value_max" value="100">
                  </div>
                </div>      
                <div class="form-group form-actions">
                  <button class="btn btn-sm btn-secondary" type="submit">Submit</button>
                </div>
              </form> 
            </div>
            <div class="tab-pane" id="tab_add_colorpicker">
            <form class="form_add_ui_element">
                <input class="form-control" type="hidden" name="type" value="colorpicker"> 
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="path" placeholder="Message Path">
                  </div>
                </div>     
                <div class="form-group form-actions">
                  <button class="btn btn-sm btn-secondary" type="submit">Submit</button>
                </div>
              </form> 
            </div>
            <div class="tab-pane" id="tab_add_gauge">
              <form class="form_add_ui_element">
                <input class="form-control" type="hidden" name="type" value="gauge"> 
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="text" placeholder="Gauge Text">
                  </div>
                </div>     
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="path" placeholder="Message Path">
                  </div>
                </div>     
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="number" name="value_min" value="0">
                  </div>
                </div>      
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="number" name="value_max" value="100">
                  </div>
                </div>      
                <div class="form-group form-actions">
                  <button class="btn btn-sm btn-secondary" type="submit">Submit</button>
                </div>
              </form> 
            </div>
            <div class="tab-pane" id="tab_add_chart">
            <form class="form_add_ui_element">
                <input class="form-control" type="hidden" name="type" value="chart"> 
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="text" placeholder="Chart Text">
                  </div>
                </div>     
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" name="path" placeholder="Message Path">
                  </div>
                </div>     
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="number" name="value_min" value=0>
                  </div>
                </div>      
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="number" name="value_max" value=100>
                  </div>
                </div>      
                <div class="form-group form-actions">
                  <button class="btn btn-sm btn-secondary" type="submit">Submit</button>
                </div>
              </form> 
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn_modal_close btn-secondary" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    <!-- /.modal-content-->
    </div>
  <!-- /.modal-dialog-->
  </div>